<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


        <div class="card-header">
            <h2>Input Text <small>Text Inputs with different sizes by height and column.</small></h2>
        </div>

        <div class="card-body card-padding">
            <p class="c-black f-500">Basic Text Feilds with different sizes by height and column.</p>

            <div class="form-group">
                <div class="fg-line">
                    <input class="form-control input-sm" placeholder="Input Small" type="text">
                </div>
            </div>

            <div class="form-group">
                <div class="fg-line">
                    <input class="form-control" placeholder="Input Default" type="text">
                </div>
            </div>

            <div class="form-group">
                <div class="fg-line">
                    <input class="form-control input-lg" placeholder="Input Large" type="text">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                <div class="fg-line">
                            <input class="form-control" placeholder="col-sm-4" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                <div class="fg-line">
                            <input class="form-control" placeholder="col-sm-4" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                <div class="fg-line">
                            <input class="form-control" placeholder="col-sm-4" type="text">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                <div class="fg-line">
                            <input class="form-control" placeholder="col-sm-3" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                <div class="fg-line">
                            <input class="form-control" placeholder="col-sm-3" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                <div class="fg-line">
                            <input class="form-control" placeholder="col-sm-3" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                <div class="fg-line">
                            <input class="form-control" placeholder="col-sm-3" type="text">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                <div class="fg-line">
                            <input class="form-control" placeholder="col-sm-6" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                <div class="fg-line">
                            <input class="form-control" placeholder="col-sm-6" type="text">
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <p class="m-b-25 m-t-25 c-black f-500">Floating Label - Floating animation for label when Input feild is active.</p>

            <div class="form-group fg-float">
                <div class="fg-line">
                    <input class="input-sm form-control fg-input" type="text">
                </div>
                <label class="fg-label">Input Small</label>
            </div>

            <div class="form-group fg-float">
                <div class="fg-line">
                    <input class="form-control fg-input" type="text">
                </div>
                <label class="fg-label">Input Default</label>
            </div>

            <div class="form-group fg-float">
                <div class="fg-line">
                    <input class="input-lg form-control fg-input" type="text">
                </div>
                <label class="fg-label">Input Large</label>
            </div>

            <br>
            <p class="m-b-25 m-t-25 c-black f-500">Input Status - Focused and Disabled</p>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="fg-line fg-toggled">
                            <input class="form-control" value="This is Focused" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="fg-line disabled">
                            <input class="form-control" value="This is Disabled" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

</body>
</html>