<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Basic Usage</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link rel='stylesheet prefetch' href='https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.0-rc4/angular-material.css'> 
	
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	
  </head>

  <body>

    <div ng-controller="pollsCtrl" layout="column" style="height:500px;" ng-cloak="" class="sidenavdemoBasicUsage" ng-app="MyApp">

  <section layout="row" flex="">
		
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools" align ="center">&nbsp Welcome! &nbsp{{firstName}} {{lastName}}</h1>
      </md-toolbar>
      
      
      
      <md-content layout-padding="" ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md="">
          Close Sidenav Left
        </md-button>
        
        
      </md-content>
	<md-button class="md-raised md-primary" ng-click="tasks()">Tasks</md-button>
    <md-button class="md-raised md-primary">Shopping List</md-button>
    <md-button class="md-raised md-primary"ng-click ="polls()">Polls</md-button>
    <md-button class="md-raised md-primary">Chat</md-button>
    <md-button class="md-raised md-warn" ng-href="/logout">Logout</md-button>
    
    
    </md-sidenav>

    <md-content flex="" layout-padding="">

	<h1 align="center">Polls Page</h1>

    <div layout="column" layout-fill="" layout-align="top center">
      
   <div class="container" ng-show="pollQuestions">
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Question</th>
        <th>Select</th>
      </tr>
    </thead>
    
    <tbody>
      
        <tr ng-repeat="que in question">
        
      	<td>{{que.question}}</td>
     	<td><md-button class="md-raised"><a href="polls/{{que.question}}">Select</a></md-button></td>
      </tr>
    
    
    </tbody>
  </table>
  </div>
</div>
      
      
       
      <div flex=""></div>

    </md-content>

    

  </section>

</div>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.min.js'></script>
<script src='https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.0-rc4/angular-material.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>
<script src= "/controller/pollsController.js"></script>
 
<script>
	var x = document.getElementsByClassName("test");
	for(i=0;i<x.length;i++){
		var xx = x[i].innerHTML;
		var yy = '/polls/'+xx.replace(' ', '-');
		x[i].href= yy;
	}
</script> 
    
</body>
</html>
