<html>
  <head>
    <title>Shopping List</title>

  </head>

  <body>
  <div>
  
  <form method="post" action="/addshoppingItem" >
            		
            		
            		<input type="text" name ="ItemName" placeholder="Enter ItemName">
					<input type="submit" name="submit" value ="Add">
					</form></p>
					
					<div>
					<p><strong>ItemName: </strong></p>
					
			            	
					
					
	</div>				
  <form method="post" action="/DeleteshoppingItem" >
            		
            		<input type="text" name ="ItemName" placeholder="Enter Item Name">
            		
					<input type="submit" name="submit" value ="Delete">
					</form></p>
					
<script src= "/controller/homeController.js"></script>
</body>
</html>					