   <!--[if IE 9 ]><html class="ie9" data-ng-app="materialAdmin" data-ng-controller="materialadminCtrl as mactrl"><![endif]-->
    <![if IE 9 ]><html data-ng-app="materialAdmin" data-ng-controller="materialadminCtrl as mactrl"><![endif]>

    <head>
    
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Live Fair - Tasks</title>

        <!-- Vendor CSS -->
        <link href="/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
        <link href="/vendors/bower_components/angular-loading-bar/src/loading-bar.css" rel="stylesheet">


        <!-- CSS -->
        <link href="css/app.min.1.css" rel="stylesheet" id="app-level">
        <link href="css/app.min.2.css" rel="stylesheet">
        <link href="css/demo.css" rel="stylesheet">

    </head>

<body>


<header id="header" data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    

    <section id="content" data-ng-controller="appCtrl">                   


<div class="container">



                   

        
      <div style="" class="md-ripple-container"></div>
                    <!-- Recent Items -->
                    <div class="card" >
                        <br><h1 align = "center">Tasks</h1>
                        <div class="card-header">
                            <h2>Upcoming Tasks <small>Your Tasks</small></h2>
                            <ul class="actions">
                                <li class="dropdown" dropdown>
                                        <br>
                                        <div layout="column" layout-fill="" layout-align="bottom right">
                                        <button href="" class="btn bgm-red btn-float waves-effect waves-circle" id="ms-compose" ng-click="addTask()"><i class="zmdi zmdi-plus"></i></button>
                                        </div>
                                </li>
                            </ul>
                        </div>


                        <div class="card-header">

                            <form class="form-inline" role="form" ng-show="task">
                            
                                <div class="form-group">
                                    <label>Task:</label>
                                    
                                    <input type="text" class="form-control" ng-model ="newTaskName" placeholder="Task Name">
                                
                                
                                
                                
                                <label>Date:</label>
                                <input type="date" name="eventdate" ng-model="newTaskDate">
                                <strong>Time:</strong>
                                <input type="time" ng-model="newTaskTime" name="usr_time">
                                </div>
                               <br>
                                <div class="form-group">
                                <label for="text" >:</label>
                                <input type="text" class="form-control" ng-model="newTaskTimeTaken" placeholder="Time Taken">
                                </div>
                                <div class="form-group" >
                                <label for="text" >:</label>
                                <input type="text" class="form-control" ng-model="repetition" placeholder="Repeat After days">
                                </div> 
                                <button type="button" class="btn btn-info" ng-click="createNewTask()">Create</button>
                            </form>

                            <form class="form-inline" role="form" ng-show="task">
                              <div class="form-group">
                                <label for="sel1">Precedence:</label>
                                <select class="form-control" ng-model ="precedence" id="sel1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="text">Task:</label>
                                <input type="text" class="form-control" ng-model ="emailId" placeholder="emailId">
                              </div>
                              <button type="button" class="btn btn-info" ng-click="addMember()">Add</button>
                           </form> 


                        </div>

                        <div class="card-body m-t-0">
                            <table class="table table-inner table-vmiddle">
                                <thead>
                                    <tr>
                                        <th>Task</th>
                                        <th>Do it by</th>
                                        <th>due Time</th>
                                        <th>Effort</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="w in upcomingTasks">
                                        <td class="f-500 c-cyan">{{ w.taskName}}</td>
                                        <td>{{ w.dueDate }}</td>
                                        <td class="f-500 c-cyan">{{ w.dueTime }}</td>
                                        <td><button type="button" class="btn btn-info" ng-click="taskDone(w.taskId)">Done</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="card-body m-t-0">
                        <div class="card" >
                        <div class="card-header">
                            
                        	<h4>Overdue Tasks</h4>
                            <table class="table table-inner table-vmiddle">
                                <thead>
                                    <tr>
                                        <th>Task</th>
                                        <th>Do it by</th>
                                        <th>due Time</th>
                                        <th>Effort</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="w in overDueTasks">
                                        <td class="f-500 c-cyan">{{ w.taskName}}</td>
                                        <td>{{ w.dueDate }}</td>
                                        <td class="f-500 c-cyan">{{ w.dueTime }}</td>
                                        <td><button type="button" class="btn btn-info" ng-click="taskDone(w.taskId)">Done</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="recent-items-chart" class="flot-chart" data-line-chart></div>
                    </div>

                    
                </div>
    
                   
</div>

    </section>
</section>




<!-- Core -->
        <script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Angular -->
        <script src="vendors/bower_components/angular/angular.min.js"></script>
        <script src="vendors/bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="vendors/bower_components/angular-resource/angular-resource.min.js"></script>
        
        <!-- Angular Modules -->
        <script src="vendors/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="vendors/bower_components/angular-loading-bar/src/loading-bar.js"></script>
        <script src="vendors/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
        <script src="vendors/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

        <!-- Common Vendors -->
        <script src="vendors/bower_components/jquery.nicescroll/jquery.nicescroll.min.js"></script>
        <script src="vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
        <script src="vendors/bower_components/Waves/dist/waves.min.js"></script>
        <script src="vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="vendors/bower_components/ng-table/dist/ng-table.min.js"></script>
       

        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->

        <!-- Using below vendors in order to avoid misloading on resolve -->
        <script src="vendors/bower_components/flot/jquery.flot.js"></script>
        <script src="vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
        <script src="vendors/bower_components/flot/jquery.flot.resize.js"></script>
        <script src="vendors/bower_components/moment/min/moment.min.js"></script>
        <script src="vendors/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
        <script src="vendors/bower_components/flot-orderBars/js/jquery.flot.orderBars.js"></script>
        <script src="vendors/bower_components/flot/jquery.flot.pie.js"></script>
        <script src="vendors/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
        <script src="vendors/bower_components/angular-nouislider/src/nouislider.min.js"></script>
        
        
        <!-- App level -->
        <script src="js/app.js"></script>
        <script src="js/config.js"></script>
        <script src="js/controllers/main.js"></script>
        <script src="js/services.js"></script>
        <script src="js/templates.js"></script>
        <script src="js/controllers/ui-bootstrap.js"></script>
        <script src="js/controllers/table.js"></script>


        <!-- Template Modules -->
        <script src="js/modules/template.js"></script>
        <script src="js/modules/ui.js"></script>
        <script src="js/modules/charts/flot.js"></script>
        <script src="js/modules/charts/other-charts.js"></script>
        <script src="js/modules/form.js"></script>
        <script src="js/modules/media.js"></script>
        <script src="js/modules/components.js"></script>
        <script src="js/modules/calendar.js"></script>
        
        <script>
        angular
      .module('materialAdmin')

        .controller('appCtrl', function ($scope) {
    $scope.name = "test";

      })

        <script>

        
</body>
</html>
