<html>
  <head>
    <title>Task Assignment</title>

  </head>

  <body>
  <div>
  
  <form method="post" action="/createtask" >
            		
            		
            		<input type="text" name ="taskname" placeholder="taskname">
					<input type="text" name="date" >
					<input type="text" name ="time" placeholder="time">
					<input type="time" name ="timetaken" placeholder="timetaken">
					<input type="submit" name="submit" value ="createtask">
					</form></p>
					
					<div>
					
					
			            	
					
					
	</div>				
  <form method="post" action="/addmember" >
            		
            		<input type="text" name ="ItemName" placeholder="Enter Item Name">
            		
					<input type="submit" name="submit" value ="Delete">
					</form></p>
					
<script src= "/controller/homeController.js"></script>
</body>
</html>	