<!DOCTYPE html>
<html >
  <head>
  
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  	<link rel='stylesheet prefetch' href='https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.0-rc4/angular-material.css'> 
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

       <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Material Admin</title>

		<!-- Vendor CSS -->
        <link href="/vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
        <link href="/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
        <link href="/vendors/bower_components/angular-loading-bar/src/loading-bar.css" rel="stylesheet">


        <!-- CSS -->
        <link href="/css/app.min.1.css" rel="stylesheet" id="app-level">
        <link href="/css/app.min.2.css" rel="stylesheet">
        <link href="/css/demo.css" rel="stylesheet">
	
	
  </head>

  <body>

    <div ng-controller="AppCtrl" layout="column" style="height:500px;" ng-cloak="" class="sidenavdemoBasicUsage" ng-app="MyApp">

  <section layout="row">
		
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools" align ="center">&nbsp Welcome! &nbsp{{firstName}} {{lastName}}</h1>
      </md-toolbar>
      <md-content layout-padding="" ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-md="">
          Close Sidenav Left
        </md-button>
        
        
      </md-content>

    <md-button class="md-raised md-primary" ng-click="groupsPage()">Groups</md-button>
	<md-button class="md-raised md-primary" ng-click="loadTasks()">Tasks</md-button>
    <md-button class="md-raised md-primary" ng-click="loadshopping()">Shopping List</md-button>
    <md-button class="md-raised md-primary" ng-click="pollsPage()">Polls</md-button>
    <!-- <md-button class="md-raised md-primary">Chat</md-button> -->
    <md-button class="md-raised md-warn" ng-href="/logout">Logout</md-button>
    </md-sidenav>


<br>
<md-content class="col-sm-10" style="
    padding-left: 0px;
    padding-right: 0px;
">
<md-toolbar>

	<h1 align="center">Tasks</h1>
</md-toolbar>


 <div >
                   
<br>	
	<div layout="column" layout-fill="" layout-align="top left">
	<ng-button href="" class="btn bgm-red btn-float waves-effect waves-circle" id="ms-compose" ng-click="addTask()"><i class="zmdi zmdi-plus"></i><md-tooltip md-direction="right">Create Task</md-tooltip></n>
	</div>

<div>  
<br><br><br>

    <form class="form-inline" role="form" ng-show="task">
    <div class="form-group">
      <label for="text">Task:</label>
      <input type="text" class="form-control" ng-model ="newTaskName" placeholder="Task Name">
    </div>
    <div>
    	<input type="date" name="eventdate" ng-model="newTaskDate">
    	<input type="time" ng-model="newTaskTime" name="usr_time">
    </div>
	<div class="form-group">
      <label for="text" >:</label>
      <input type="text" class="form-control" ng-model="newTaskTimeTaken" placeholder="Time Taken">
    </div>
	<div class="form-group" >
      <label for="text" >:</label>
      <input type="text" class="form-control" ng-model="repetition" placeholder="Repeat After days">
    </div> 
    <button type="button" class="btn btn-info" ng-click="createNewTask()">Create</button>
  </form>
    
  <form class="form-inline" role="form" ng-show="task">
      <div class="form-group">
      <label for="sel1">Precedence:</label>
      <select class="form-control" ng-model ="precedence" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select>
      </div>
       <div class="form-group">
      <label for="text">Task:</label>
      <input type="text" class="form-control" ng-model ="emailId" placeholder="emailId">
      </div>
      <button type="button" class="btn btn-info" ng-click="addMember()">Add</button>
   </form> 

</div>

                   

        
      <div style="" class="md-ripple-container"></div>
                    <!-- Recent Items -->
                    <div class="card" >
                        <div class="card-header">
                            <h2>Upcoming Tasks <small>Your Tasks</small></h2>
                            <ul class="actions">
                                <li class="dropdown" dropdown>
                                    <a href="" dropdown-toggle>
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="">Refresh</a>
                                        </li>
                                        <li>
                                            <a href="">Settings</a>
                                        </li>
                                        <li>
                                            <a href="">Other Settings</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body m-t-0">
                            <table class="table table-inner table-vmiddle">
                                <thead>
                                    <tr>
                                        <th>Task</th>
                                        <th>Do it by</th>
                                        <th>due Time</th>
                                        <th>Effort</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="w in upcomingTasks">
                                        <td class="f-500 c-cyan">{{ w.taskName}}</td>
                                        <td>{{ w.dueDate }}</td>
                                        <td class="f-500 c-cyan">{{ w.dueTime }}</td>
                                        <td><button type="button" class="btn btn-info" ng-click="taskDone(w.taskId)">Done</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="card-body m-t-0">
                        <div class="card" >
                        <div class="card-header">
                            
                        	<h4>Overdue Tasks</h4>
                            <table class="table table-inner table-vmiddle">
                                <thead>
                                    <tr>
                                        <th>Task</th>
                                        <th>Do it by</th>
                                        <th>due Time</th>
                                        <th>Effort</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="w in overDueTasks">
                                        <td class="f-500 c-cyan">{{ w.taskName}}</td>
                                        <td>{{ w.dueDate }}</td>
                                        <td class="f-500 c-cyan">{{ w.dueTime }}</td>
                                        <td><button type="button" class="btn btn-info" ng-click="taskDone(w.taskId)">Done</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="recent-items-chart" class="flot-chart" data-line-chart></div>
                    </div>

                    
                </div>
                   
    
    
    
  
</md-content>
 
 
</section>
 
</div>
<script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.min.js'></script>
<script src='https://cdn.gitcdn.xyz/cdn/angular/bower-material/v1.0.0-rc4/angular-material.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/assets-cache.js'></script>


 <!-- Core -->
        <script src="vendors/bower_components/jquery/dist/jquery.min.js"></script>

        

        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->
                
        <!-- App level -->
        <script src="js/app.js"></script>
        <script src="js/config.js"></script>
        <script src="js/controllers/main.js"></script>
        <script src="js/services.js"></script>
        <script src="js/templates.js"></script>
        <script src="js/controllers/ui-bootstrap.js"></script>
        <script src="js/controllers/table.js"></script>


        <!-- Template Modules -->
        <script src="js/modules/template.js"></script>
        <script src="js/modules/ui.js"></script>
        <script src="js/modules/form.js"></script>
        <script src= "/controller/taskController.js"></script>
    
</body>
</html>
