<div class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="/img/profile-pics/2.jpg" alt="">
            </div>

            <div class="profile-info">
                Anuj

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
           
            
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            <li>
                <a href='/logout'><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        <li data-ui-sref-active="active">
            <a href='/loadTasksPage'><i class="zmdi zmdi-home"></i>Home</a>
        </li>
       
        <li data-ui-sref-active="active">
            <a href='/groups')"><i class="zmdi zmdi-accounts zmdi-hc-fw"></i>Groups</a>
        </li>
        
        
        <li data-ui-sref-active="active">
            <a href ='/loadTasksPage'><i class="zmdi zmdi-menu zmdi-hc-fw"></i>Tasks</a>
        </li>

        <li data-ui-sref-active="active">
            <a href = '/loadshoppingPage'><i class="zmdi zmdi-shopping-cart zmdi-hc-fw"></i>Shopping Lists</a>
        </li>

        <li data-ui-sref-active="active">
            <a href = '/pollsPageLoad'><i class="zmdi zmdi-thumb-up-down zmdi-hc-fw"></i>Polls</a>
        </li>
        
        <li data-ui-sref-active="active">
            <a href='/taskstatLoad'><i class="zmdi zmdi-format-list-numbered zmdi-hc-fw"></i>Stats</a>
        </li>
        
    </ul>
</div>
